Repository BoothGroup/momentGW: changes, and which pre-commit hooks are due for each by the changed paths.
All: ssort, isort, black, flake8

ssort:
  name: ssort
  entry: ssort
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

Merge and formatting
  momentGW/__init__.py
  momentGW/energy.py
  momentGW/gw.py
Due: ssort, isort, black, flake8

Update optional dependencies in pyproject.toml
  pyproject.toml
Due: none

Replace linting tools with ruff in CI
  .github/workflows/ci.yaml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Fix pyscf dependency version to 2.9.0
  pyproject.toml
Due: none

Adjust DIIS space in test
  tests/test_scgw.py
Due: ssort, isort, black

Line width
  tests/test_scgw.py
Due: ssort, isort, black

Resolve merge
  momentGW/__init__.py
  momentGW/gw.py
Due: ssort, isort, black, flake8

More updates
  momentGW/energy.py
Due: ssort, isort, black, flake8

Resolve merge
  momentGW/gw.py
Due: ssort, isort, black, flake8

Remove debug print
  momentGW/energy.py
  momentGW/gw.py
Due: ssort, isort, black, flake8

Use copy instead of setters
  momentGW/pbc/fock.py
  momentGW/pbc/qsgw.py
  momentGW/uhf/qsgw.py
Due: ssort, isort, black, flake8

merge
  momentGW/fock.py
  momentGW/pbc/fock.py
  tests/test_gw.py
Due: ssort, isort, black, flake8

Update se during fock loop
  momentGW/gw.py
  momentGW/uhf/gw.py
  tests/test_gw.py
Due: ssort, isort, black, flake8

Formatting
  momentGW/fock.py
Due: ssort, isort, black, flake8

Update README
  README.md
Due: none

Update pyscf version
  pyproject.toml
Due: none

Revert "Update pyscf version"
  pyproject.toml
Due: none

ruff
  examples/08-tensor_hypercontraction.py
  examples/10-unrestricted_spectral_functions.py
  examples/18-chebyshev_optical_spectra.py
  momentGW/__init__.py
  momentGW/bse.py
  momentGW/evgw.py
  momentGW/fsgw.py
  momentGW/pbc/evgw.py
  momentGW/pbc/fsgw.py
  momentGW/pbc/qsgw.py
  momentGW/pbc/uhf/base.py
  momentGW/pbc/uhf/evgw.py
  momentGW/pbc/uhf/fock.py
  momentGW/pbc/uhf/fsgw.py
  momentGW/pbc/uhf/qsgw.py
  momentGW/qsgw.py
  momentGW/uhf/evgw.py
  momentGW/uhf/fsgw.py
  momentGW/uhf/qsgw.py
Due: ssort, isort, black, flake8

Add more python version and os
  .github/workflows/ci.yaml
Due: none

Relax SciPy version constraint
  pyproject.toml
Due: none

Update versions
  pyproject.toml
Due: none

Updated integral for the zeroth moment of RPA calculations.
  examples/20-store_calculation.py
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
  momentGW/rpa.py
  momentGW/tda.py
Due: ssort, isort, black, flake8

Linting
  examples/20-store_calculation.py
Due: ssort, isort, black

A bit more linting
  momentGW/pbc/rpa.py
Due: ssort, isort, black, flake8

Should fix the errors in the tests.
  momentGW/rpa.py
  momentGW/thc.py
  momentGW/uhf/rpa.py
  momentGW/uhf/tda.py
Due: ssort, isort, black, flake8

Remove python 3.10, add 3.14
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

Fixed a small bug related to uGW, see comment in PR for full details.
  momentGW/rpa.py
  momentGW/uhf/rpa.py
Due: ssort, isort, black, flake8

Revert last commit, change the regression test values and added an RPA regression test for fsuGW to be in line with other self-consistent tests. See comment in PR for full details.
  momentGW/rpa.py
  momentGW/uhf/rpa.py
  tests/test_evugw.py
  tests/test_fsugw.py
  tests/test_qsugw.py
  tests/test_scugw.py
  tests/test_ugw.py
Due: ssort, isort, black, flake8

Liniting
  tests/test_ugw.py
Due: ssort, isort, black

Reimplement the previous uncommited changes, with some additional alterations to make it work as intended. Tests have been updated to reflect. See comment in PR.
  momentGW/rpa.py
  momentGW/uhf/rpa.py
  tests/test_evugw.py
  tests/test_fsugw.py
  tests/test_qsugw.py
  tests/test_scugw.py
  tests/test_ugw.py
Due: ssort, isort, black, flake8

Bring uGW in line with restricted in terms of memory saving.
  momentGW/pbc/uhf/tda.py
  momentGW/tda.py
  momentGW/uhf/rpa.py
  momentGW/uhf/tda.py
Due: ssort, isort, black, flake8

Linting.
  momentGW/pbc/uhf/tda.py
Due: ssort, isort, black, flake8

Ignore PLR0917 to fix failing CI lint
  pyproject.toml
Due: none

Take rot[-q] as conj(rot[q]) in the k-point compression metric
  momentGW/pbc/ints.py
  momentGW/pbc/uhf/ints.py
  tests/test_kgw.py
Due: ssort, isort, black, flake8

Path conditions:
  ssort: any of: \.(py)$
  isort: any of: \.(py)$
  black: any of: \.(py)$
  flake8: any of: momentGW/
