Repository BoothGroup/momentGW: changes, and which pre-commit hooks are due for each by the changed paths.
All: ssort, isort, black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ssort
    name: ssort
    entry: ssort
    language: system
    files: \.(py)$
  - id: isort
    name: isort
    entry: isort
    language: system
    files: \.(py)$
  - id: black
    name: black
    entry: black
    language: system
    files: \.(py)$
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    files: momentGW/

Further linting
  momentGW/pbc/gw.py
  momentGW/pbc/ints.py
  tests/test_kgw.py
Due: ssort, isort, black, flake8

More linting
  momentGW/pbc/gw.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Body improved HW
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Quality of life HW updates
  momentGW/base.py
  momentGW/pbc/gw.py
  momentGW/pbc/ints.py
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Support inheritance for static SE with finite size corrections
  momentGW/gw.py
  momentGW/pbc/gw.py
  momentGW/pbc/uhf/gw.py
  momentGW/uhf/gw.py
Due: ssort, isort, black, flake8

Fix madelung attribute
  momentGW/pbc/ints.py
Due: ssort, isort, black, flake8

HWB implementation
  momentGW/gw.py
  momentGW/pbc/base.py
  momentGW/pbc/gw.py
  momentGW/pbc/ints.py
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Corrections to HWB implementation
  momentGW/pbc/gw.py
  momentGW/pbc/ints.py
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Example and tests for HWB corrections
  examples/20-finite_size_corrections.py
  tests/test_kgw.py
Due: ssort, isort, black

Small fix and updated test values
  momentGW/pbc/rpa.py
  tests/test_kgw.py
Due: ssort, isort, black, flake8

Some changes related to the old PR and linting.
  examples/20-finite_size_corrections.py
  momentGW/pbc/gw.py
  momentGW/pbc/ints.py
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Update test_thcgw.py
  tests/test_thcgw.py
Due: ssort, isort, black

Update test_evgw.py
  tests/test_evgw.py
Due: ssort, isort, black

Update test_gw.py
  tests/test_gw.py
Due: ssort, isort, black

Update test_kthcgw.py
  tests/test_kthcgw.py
Due: ssort, isort, black

Update test_qsgw.py
  tests/test_qsgw.py
Due: ssort, isort, black

Alterations to scGW code to include fock steps by default. Small correction to RPA offset integral grid code.
  momentGW/fock.py
  momentGW/rpa.py
  momentGW/scgw.py
  tests/test_scgw.py
  tests/test_sckgw.py
Due: ssort, isort, black, flake8

Small correction to code and new test values.
  momentGW/scgw.py
  tests/test_scgw.py
Due: ssort, isort, black, flake8

Freeze dyson version
  pyproject.toml
Due: none

Minimal update for GW with new dyson
  momentGW/__init__.py
  momentGW/gw.py
Due: ssort, isort, black, flake8

More updates
  momentGW/energy.py
  momentGW/gw.py
Due: ssort, isort, black, flake8

Changes for dyson refactor
  momentGW/bse.py
  momentGW/pbc/gw.py
  momentGW/pbc/uhf/gw.py
  momentGW/uhf/gw.py
Due: ssort, isort, black, flake8

Changes for new dyson
  momentGW/fock.py
  momentGW/gw.py
  momentGW/pbc/fock.py
  momentGW/pbc/gw.py
  momentGW/pbc/uhf/fock.py
  momentGW/pbc/uhf/gw.py
  momentGW/qsgw.py
  momentGW/uhf/fock.py
  momentGW/uhf/gw.py
Due: ssort, isort, black, flake8

Another change
  momentGW/pbc/uhf/qsgw.py
Due: ssort, isort, black, flake8

Update test values for pyscf DF changes
  tests/test_evgw.py
  tests/test_evugw.py
  tests/test_fsgw.py
  tests/test_fsugw.py
  tests/test_gw.py
  tests/test_qsugw.py
  tests/test_scgw.py
  tests/test_scugw.py
  tests/test_ugw.py
Due: ssort, isort, black

Fix docstring formatting in util.py
  momentGW/util.py
Due: ssort, isort, black, flake8

Linting
  momentGW/util.py
Due: ssort, isort, black, flake8

Remove redundant global variable
  momentGW/logging.py
Due: ssort, isort, black, flake8

Remove print
  momentGW/gw.py
Due: ssort, isort, black, flake8

Formatting
  momentGW/__init__.py
  momentGW/gw.py
Due: ssort, isort, black, flake8

Update dyson version
  pyproject.toml
Due: none

Add ruff
  pyproject.toml
Due: none

Merge formatting
  momentGW/__init__.py
  momentGW/gw.py
Due: ssort, isort, black, flake8
