Repository BoothGroup/momentGW: changes, and which pre-commit hooks are due for each by the changed paths.
All: ssort, isort, black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: ssort
    name: Sort declarations (ssort)
    entry: ssort
    language: system
    files: \.(py)$
  - id: isort
    name: Sort imports (isort)
    entry: isort
    language: system
    files: \.(py)$
  - id: black
    name: Black
    entry: black
    language: system
    files: \.(py)$
  - id: flake8
    name: Flake8
    entry: flake8
    language: system
    files: momentGW/

Change pre-commit names
  .pre-commit-config.yaml
Due: none

Add _convert_mf to BSE
  momentGW/bse.py
Due: ssort, isort, black, flake8

Adds some GF2 tests
  tests/test_gf2.py
Due: ssort, isort, black

No compression by default
  momentGW/gf2.py
Due: ssort, isort, black, flake8

Tests for other GF2 solvers
  tests/test_gf2.py
Due: ssort, isort, black

Tighten nelec convergence to account for non-commutation of iterations
  momentGW/fock.py
  momentGW/pbc/fock.py
  momentGW/pbc/uhf/fock.py
  momentGW/uhf/fock.py
Due: ssort, isort, black, flake8

Adds UGF2
  momentGW/__init__.py
  momentGW/gf2.py
  momentGW/uhf/__init__.py
  momentGW/uhf/gf2.py
  tests/test_gf2.py
  tests/test_ugf2.py
Due: ssort, isort, black, flake8

Honor noqa in isort
  momentGW/evgw.py
  momentGW/fsgw.py
  momentGW/pbc/evgw.py
  momentGW/pbc/fsgw.py
  momentGW/pbc/gw.py
  momentGW/pbc/qsgw.py
  momentGW/pbc/scgw.py
  momentGW/pbc/uhf/evgw.py
  momentGW/pbc/uhf/fsgw.py
  momentGW/pbc/uhf/gw.py
  momentGW/pbc/uhf/qsgw.py
  momentGW/pbc/uhf/scgw.py
  momentGW/qsgw.py
  momentGW/scgw.py
  momentGW/uhf/evgw.py
  momentGW/uhf/fsgw.py
  momentGW/uhf/gw.py
  momentGW/uhf/qsgw.py
  momentGW/uhf/scgw.py
  pyproject.toml
Due: ssort, isort, black, flake8

Use base class for classes that create self-energy moments
  momentGW/base.py
  momentGW/tda.py
Due: ssort, isort, black, flake8

Drop isort, add flake8-import-order
  pyproject.toml
Due: none

Drop isort
  .pre-commit-config.yaml
Due: none

Reorder imports
  momentGW/bse.py
  momentGW/evgw.py
  momentGW/fsgw.py
  momentGW/gw.py
  momentGW/pbc/evgw.py
  momentGW/pbc/fsgw.py
  momentGW/pbc/gw.py
  momentGW/pbc/qsgw.py
  momentGW/pbc/rpa.py
  momentGW/pbc/scgw.py
  momentGW/pbc/thc.py
  momentGW/pbc/uhf/base.py
  momentGW/pbc/uhf/evgw.py
  momentGW/pbc/uhf/fsgw.py
  momentGW/pbc/uhf/gw.py
  momentGW/pbc/uhf/ints.py
  momentGW/pbc/uhf/qsgw.py
  momentGW/pbc/uhf/scgw.py
  momentGW/pbc/uhf/tda.py
  momentGW/qsgw.py
  momentGW/rpa.py
  momentGW/scgw.py
  momentGW/uhf/evgw.py
  momentGW/uhf/fsgw.py
  momentGW/uhf/gw.py
  momentGW/uhf/qsgw.py
  momentGW/uhf/scgw.py
Due: ssort, isort, black, flake8

Separate solver types into direct imports
  momentGW/pbc/evgw.py
  momentGW/pbc/fsgw.py
  momentGW/pbc/qsgw.py
  momentGW/pbc/scgw.py
  momentGW/pbc/thc.py
  momentGW/pbc/uhf/evgw.py
  momentGW/pbc/uhf/fsgw.py
  momentGW/pbc/uhf/gw.py
  momentGW/pbc/uhf/qsgw.py
  momentGW/pbc/uhf/scgw.py
  momentGW/thc.py
  momentGW/uhf/evgw.py
  momentGW/uhf/fsgw.py
  momentGW/uhf/qsgw.py
  momentGW/uhf/scgw.py
Due: ssort, isort, black, flake8

Remove dTDA and dRPA from global imports
  examples/17-optical_spectra.py
  momentGW/__init__.py
  momentGW/pbc/__init__.py
  momentGW/pbc/uhf/__init__.py
  momentGW/uhf/__init__.py
Due: ssort, isort, black, flake8

Remove unnecessary import
  momentGW/__init__.py
Due: ssort, isort, black, flake8

Use full path for internal solver imports, top-level solver imports at run time
  momentGW/__init__.py
  momentGW/base.py
  momentGW/evgw.py
  momentGW/fock.py
  momentGW/fsgw.py
  momentGW/ints.py
  momentGW/pbc/__init__.py
  momentGW/pbc/evgw.py
  momentGW/pbc/fsgw.py
  momentGW/pbc/gw.py
  momentGW/pbc/qsgw.py
  momentGW/pbc/scgw.py
  momentGW/pbc/uhf/__init__.py
  momentGW/pbc/uhf/evgw.py
  momentGW/pbc/uhf/fsgw.py
  momentGW/pbc/uhf/gw.py
  momentGW/pbc/uhf/qsgw.py
  momentGW/pbc/uhf/scgw.py
  momentGW/qsgw.py
  momentGW/scgw.py
  momentGW/thc.py
  momentGW/uhf/__init__.py
  momentGW/uhf/evgw.py
  momentGW/uhf/fsgw.py
  momentGW/uhf/gw.py
  momentGW/uhf/qsgw.py
  momentGW/uhf/scgw.py
  tests/test_evugw.py
  tests/test_fsugw.py
  tests/test_qsugw.py
  tests/test_scugw.py
  tests/test_ugw.py
Due: ssort, isort, black, flake8

Restore isort
  .pre-commit-config.yaml
  momentGW/__init__.py
  momentGW/bse.py
  momentGW/gw.py
  momentGW/pbc/gw.py
  momentGW/pbc/qsgw.py
  momentGW/pbc/rpa.py
  momentGW/pbc/scgw.py
  momentGW/pbc/thc.py
  momentGW/pbc/uhf/base.py
  momentGW/pbc/uhf/evgw.py
  momentGW/pbc/uhf/fsgw.py
  momentGW/pbc/uhf/gw.py
  momentGW/pbc/uhf/ints.py
  momentGW/pbc/uhf/qsgw.py
  momentGW/pbc/uhf/scgw.py
  momentGW/pbc/uhf/tda.py
  momentGW/qsgw.py
  momentGW/uhf/gw.py
  momentGW/uhf/qsgw.py
  momentGW/uhf/scgw.py
  pyproject.toml
Due: ssort, isort, black, flake8

Remove old flake8 ignore codes
  pyproject.toml
Due: none

Restore isort dependency
  pyproject.toml
Due: none

HW test for kTDA
  tests/test_kgw.py
Due: ssort, isort, black

Update test
  tests/test_kgw.py
Due: ssort, isort, black

Frozen static field fix
  momentGW/pbc/gw.py
  tests/test_kgw.py
Due: ssort, isort, black, flake8

Fix k_point = [1,1,1] implementation and added some tests
  momentGW/base.py
  tests/test_kgw.py
Due: ssort, isort, black, flake8

Use cached_property better
  momentGW/base.py
  momentGW/fock.py
  momentGW/ints.py
  momentGW/pbc/ints.py
  momentGW/pbc/kpts.py
  momentGW/pbc/tda.py
  momentGW/pbc/thc.py
  momentGW/pbc/uhf/ints.py
  momentGW/pbc/uhf/tda.py
  momentGW/thc.py
  momentGW/uhf/ints.py
  momentGW/uhf/tda.py
Due: ssort, isort, black, flake8

Fix __getattr__
  momentGW/base.py
  momentGW/fock.py
Due: ssort, isort, black, flake8

Fix cached_property flushing
  momentGW/base.py
Due: ssort, isort, black, flake8

Fix inherited cached_property flushing
  momentGW/pbc/base.py
Due: ssort, isort, black, flake8

Ensure integrals load properties efficiently
  momentGW/ints.py
  momentGW/pbc/ints.py
  momentGW/pbc/uhf/ints.py
  momentGW/uhf/ints.py
Due: ssort, isort, black, flake8

Instantiate naux outside loops
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
  momentGW/pbc/thc.py
  momentGW/pbc/uhf/tda.py
Due: ssort, isort, black, flake8

Fix THC naux
  momentGW/pbc/ints.py
Due: ssort, isort, black, flake8

Silence tests
  tests/test_kthcgw.py
Due: ssort, isort, black

TDAx for rhf molecules
  momentGW/gw.py
  momentGW/tda.py
Due: ssort, isort, black, flake8

Simplify name methods
  momentGW/bse.py
  momentGW/evgw.py
  momentGW/fsgw.py
  momentGW/gw.py
  momentGW/pbc/evgw.py
  momentGW/pbc/fsgw.py
  momentGW/pbc/gw.py
  momentGW/pbc/qsgw.py
  momentGW/pbc/scgw.py
  momentGW/pbc/uhf/evgw.py
  momentGW/pbc/uhf/fsgw.py
  momentGW/pbc/uhf/gw.py
  momentGW/pbc/uhf/qsgw.py
  momentGW/pbc/uhf/scgw.py
  momentGW/qsgw.py
  momentGW/scgw.py
  momentGW/uhf/evgw.py
  momentGW/uhf/fsgw.py
  momentGW/uhf/gw.py
  momentGW/uhf/qsgw.py
  momentGW/uhf/scgw.py
Due: ssort, isort, black, flake8

Adds UTDAx
  momentGW/tda.py
  momentGW/uhf/gw.py
  momentGW/uhf/tda.py
Due: ssort, isort, black, flake8

TDAx for PBC
  momentGW/pbc/gw.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Start on UHF PBC TDAx
  momentGW/pbc/tda.py
  momentGW/pbc/uhf/tda.py
Due: ssort, isort, black, flake8

Initial E_corr
  momentGW/base.py
  momentGW/gw.py
  momentGW/pbc/base.py
  momentGW/pbc/gw.py
  momentGW/pbc/rpa.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8

Cleaned and re-cycled E_corr
  momentGW/pbc/rpa.py
Due: ssort, isort, black, flake8

Changes pre discussion in PR
  momentGW/pbc/gw.py
  momentGW/pbc/ints.py
  momentGW/pbc/tda.py
  tests/test_kgw.py
Due: ssort, isort, black, flake8

Linting
  momentGW/pbc/gw.py
  momentGW/pbc/tda.py
Due: ssort, isort, black, flake8
